html {
    width: 100%;
    height: 100%;
}

body {
    font-family: 'Questrial', sans-serif;
    margin:0px;
}

header {
    text-align: left;
}

#main {
    width:90%;
    margin: 0 auto;
}

.band {
    background-color: #c6c6c6;
}

.band>p{
    padding: 10px;
}