html {
    width: 100%;
    height: 100%;
}

body {
    margin:0px;
}

.font-cera{

    font-family: 'Cera Pro', sans-serif;
    font-variant: "Verdana";
    font-Variant: "Arial";
    font-variant: cursive;
}

header {
    text-align: left;
}

#main {
    width:90%;
    margin: 0 auto;
}

.band {
    background-color: #c6c6c6;
}

.band>p{
    padding: 10px;
}